{{v=get_cc('Ki Points')}} {{'miss' if not v else ''}} {{mod_cc('Ki Points',-1) if v else ''}} {{f"-f 'Deflect Missiles|If you reduce the damage to 0, you can catch the missile if it is small enough for you to hold in one hand and you have at least one hand free. If you catch a missile in this way, you can spend 1 ki point to make a ranged attack (range 20/60 feet) with the weapon or piece of ammunition you just caught, as part of the same reaction. You make this attack with proficiency, regardless of your weapon proficiencies, and the missile counts as a monk weapon for the attack.'" if v else ""}}
-f "Ki Points|{{cc_str('Ki Points')}}"