-d1 "{{(int(get('RangerLevel'))>=11) + 1}}d6 [force]" -f "Gathered Swarm|As a bonus action, you can agitate the swarm for 1 minute. For the duration, some of the swarm clings to your weapons or follows your strikes when you attack: once during each of your turns when you hit a creature with a weapon attack, you can deal an extra {{(int(get('RangerLevel'))>=11) + 1}}d6 force damage to that creature, and the swarm moves the creature up to 5 feet toward you or away from you (your choice)."