{{cc="Fanatical Focus"}}
{{v=character().cc_exists(cc) and character().get_cc(cc)>0}}
-f "{{cc}}|{{character().cc_str(cc) if character().cc_exists(cc) else "*None*"}}
{{"You do not have this ability." if not character().cc_exists(cc) else "You must take a short or long rest to regain your expended use." if not v else "If you fail a saving throw while you’re raging, you can reroll it, and you must use the new roll. You can use this ability only once per rage."}}"
{{character().mod_cc(cc, -1) if v else ""}}
{{"pass" if v else ""}}