{{f"-d1 \"1d6+{int(BarbarianLevel)//2}[{get('furyDamageType','necrotic')}]\""+" -f \"Divine Fury|While you're raging, the first creature you hit on each of your turns with a weapon attack takes extra "+get('furyDamageType','radiant')+" damage equal to 1d6 + half your barbarian level.\"" if all([int(get("BarbarianLevel",0))>2,(combat() and combat().me and combat().me.get_effect("Rage")) or not combat()]) else ''}}