{{lvl=int(get('BarbarianLevel',0))}} -d "{{(lvl>8)+(lvl>15)+2 if lvl else 0}}"
-f "Rage|When you make a melee weapon attack using Strength, you gain a bonus to the damage roll that increases as you gain levels as a barbarian, as shown in the Rage Damage column of the Barbarian table."