{{c='Bullets'}}
{{v=cc_exists(c)}}
{{create_cc_nx(c, 0)}}
{{"" if v else set_cc(c, 20)}}
{{v=1 if get_cc(c) > 0 else 0}}
{{mod_cc(c, -1) if v else ""}}
{{"" if v else "miss"}}
{{"" if v else '-f "Ammunition|You can use a weapon that has the ammunition property to make a ranged attack only if you have ammunition to fire from the weapon. (PHB 146)"'}}
{{bulletF=get('bulletF',0)+1}}
{{f'-phrase "{"Using a bullet" if bulletF==1 else "...and another one"} ({get_cc(c)})"'}}